<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="component/navbar :: navbar"></div>

<div class="container">
    <h1 class="page-title">Sign In</h1>

    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/auth/signin}" th:object="${signInRequest}" method="post" class="form">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
            <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></p>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
        </div>
        <button type="submit">Sign In</button>
    </form>
</div>
</body>
</html>