<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:fragment="navbar">
    <nav class="navbar">
      <a class="navbar-brand" th:href="@{/books/list}">Book Management</a>
      <ul class="navbar-links">
        <li><a th:href="@{/books/list}">Category</a></li>
        <li th:if="${not #authorization.expr('isAuthenticated()')}"><a th:href="@{/auth/signin}">Sign In</a></li>
        <li th:if="${not #authorization.expr('isAuthenticated()')}"><a th:href="@{/auth/signup}">Sign Up</a></li>
        <li th:if="${#authorization.expr('isAuthenticated()')}"><a th:href="@{/auth/logout}">Log Out</a></li>
      </ul>
    </nav>
  </div>
</body>
</html> 