<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BM</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>📚</text></svg>">
</head>
<body>
<div th:replace="component/navbar :: navbar"></div>
<div class="container">
    <h1 class="page-title">Update Profile</h1>

    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{|/accounts/update/${account.id}|}" th:object="${account}" method="post" class="form">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" disabled/><br/>

        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" disabled/><br/>

        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>